.date-picker-div{
    background-color: #F5F6F8;
    min-width: 200px;
    .react-datepicker-wrapper{
        display: inline-block;
    padding: 0;
    height: 34px;
   
    width: 100%;
    background-color: #F5F6F8;
     
    }
}

.date-picker input {
    width: 90%;
    height: 22px;
    background-color: #333;
    border-radius: 11px;
    text-align: center;
    color: white;
    border: none;
}