.dashboard-container {
    box-sizing: border-box;
    width: 100vw;
    margin-left: -210px;
    overflow-y: auto;
    overflow-x: auto;

    section.board-header {
        width: 100%;
        height: 70px;
        margin: 0;
        margin-bottom: 130px;
        position: sticky;
        margin-left: 20px;
        left: 0;
        z-index: 200;
    }
}

.dashboard-container-open-nav{
    margin-left: 15px;
    overflow-x: auto;
    width: 100vw;
}

.groups-count-container,
.tasks-count-container,
.members-count-container {
    height: 70px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    font-size: 17px;

    span {
        color: white;
        font-family: roboto-regular, helvetica, sans-serif;

    }


}

.tasks-count-container {
    background: rgb(78,70,247);
    background: radial-gradient(circle, rgba(78,70,247,1) 0%, rgba(80,153,241,1) 100%)
    // background: rgb(78,70,247);
    // background: radial-gradient(circle, rgba(78,70,247,1) 0%, rgba(12,121,254,1) 100%);
    // background: rgb(255, 243, 183);
    // background: linear-gradient(120deg, rgba(255, 243, 183, 0.76234243697479) 0%, rgba(253, 173, 61, 1) 93%);

}

.groups-count-container {
    background: rgb(78,70,247);
    background: radial-gradient(circle, rgba(78,70,247,1) 0%, rgba(80,153,241,1) 100%)
    // background: rgb(183,207,255);
    // background: linear-gradient(120deg, rgba(183,207,255,0.76234243697479) 0%, rgba(80,61,253,1) 93%);
    // background: rgb(78, 70, 247);
    // background: radial-gradient(circle, rgba(78, 70, 247, 1) 0%, rgba(12, 121, 254, 1) 100%);


}

.members-count-container {
    background: rgb(78,70,247);
    background: radial-gradient(circle, rgba(78,70,247,1) 0%, rgba(80,153,241,1) 100%)
    // background: rgb(255, 183, 234);
    // background: linear-gradient(120deg, rgba(255, 183, 234, 0.76234243697479) 0%, rgba(253, 61, 91, 1) 93%);

}

.counts-container {
    display: flex;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    justify-content: start;
    margin-left: 25px;
}




.dashboards-container {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    margin-left: 25px;

    >*:not(:last-child) {
        box-shadow: 0 0 5px 0px #0000001e;
        border-radius: 10px;
        background-color: $cell-color;
        padding-left: 5px;
    }

    // div {
    //     height: 300px;
    //     width: 600px;

    //     canvas{
    //         display: block;
    //         box-sizing: border-box;
    //         height: 300px;
    //         width: 300px;
    //     }
    // }

    // section.board-header{
    //     width: 100%;
    //     height: 70px;
    //     margin: 0;
    //     margin-bottom: 130px;
    //     position: sticky;
    //     left: 0;
    //     margin-left: 20px;
    //     z-index: 200;
    // }
}

.pai-container {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    grid-column: 1/-1;
}