.dashboard-container {
    box-sizing: border-box;
    width: 100vw;
    margin-left: -210px;
    overflow-y: auto;
    overflow-x: auto;

    section.board-header {
        width: 100%;
        height: 70px;
        margin: 0;
        margin-bottom: 130px;
        position: sticky;
        margin-left: 20px;
        left: 0;
        z-index: 200;
    }
    .dashboards-container {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: repeat(3, autofit);
        grid-column-gap: 50px;
        grid-row-gap: 20px;
        margin-left: 20px;
    }
}




.dashboard-container-open-nav{
    margin-left: 15px;
    overflow-x: auto;
    width: 100vw;
   
}

.groups-count-container,
.tasks-count-container,
.members-count-container {
    height: 70px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    border: 2px solid #00000021;
    font-size: 17px;
    /* background-color: #0086c045; */
    background-color: #ffc0cb73;

    &:hover{
        background-color: pink;
    }

    span {
        color: #000000c9;
        font-family: roboto-regular, helvetica, sans-serif;
    }

    


}

// .tasks-count-container {
//     background-color: $red;

// }

// .groups-count-container {
//     background-color: $yellow;
   


// }

// .members-count-container {
//     background-color: $green;

// }

.counts-container {
    display: flex;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    justify-content: space-evenly;
}




.dashboards-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: repeat(3, autofit);
    grid-column-gap: 50px;
    grid-row-gap: 20px;

    >*{
       
        background-color: $cell-color;
        // padding-left: 5px;
        padding: 10px
    }
    div{
        span{

            font-family: roboto-regular, helvetica, sans-serif;
            margin-left: 37%;
            color: #666666;

        }
    }

}

.pai-container {

    // margin: 0 auto;
    grid-row: 1/3;
    width: 100%;

    canvas{
        margin-top: 15px;
    }
}