.member-picher-section {
  background-color: #f5f6f8;
  height: 34px;
  min-width: 150px;
}

.member-picker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  height: 100%;
}

.labels-modal {
  div {
    cursor: pointer;
  }
}

// .LT{
//     background-color: rgb(126,59,138);
//     color: white;
// }
// .HG{
//     background-color: #037F4C;
//     color: white;
// }
// .AL{
//     background-color: #FAA1F1;
//     color: white;
// }

.ME,
.LS,
.ZR,
.user-avatar {
  font-family: 'roboto-regular';
  border-radius: 50%;
  border: none;
  height: 30px;
  width: 30px;
  color: white;
  margin-left: -5px;
  display: inline;
  //   justify-content: start;
}

G {
  background-color: transparent;
  width: fit-content;
}
.labels-modal {
  div {
    display: flex;
    justify-content: center;
    gap: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 0px;

  }
}

.user-avatar {
  padding: 0px 3px 0 7px;
}
