.member-picher-section{
    background-color: #F5F6F8;
    height: 34px;
    min-width: 150px;

   
}

.member-picker{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    height: 100%;
}

.labels-modal{
    div{
        cursor: pointer;
    }
}

.ZR{
    background-color: blueviolet;
    color: white;
}
.LS{
    background-color: rgb(90, 192, 104);
    color: white;
}
.ME{
    background-color: rgb(216, 156, 188);
    color: white;
}

.ME, .ZR, .LS{
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    margin-left: -5px;
    display: inline;

}




