



.Empty,.Stuck, .Working.on.it, .Done{
  width: 100%;
  margin: auto;
  cursor: pointer;
  height: 34px;
  border: none;
  font-family: 'roboto-regular';
}

.status-member-section{
  height: 34px;
  flex-basis: 139px;
  position: relative;
  min-width: 139px;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

// .dog-ear{
//   visibility: hidden;
// }

// .status-member-section{
//   &:hover{
//     .dog-ear{
//       visibility: visible;
//     }
    
//   } 
//   }
