.date-picker-div{
    background-color: #F5F6F8;
    min-width: 200px;
    .react-datepicker-wrapper{
        display: inline-block;
        padding: 0;
     border: 1px solid white;
        width: 100%;
        background-color: ($cell-color);
     
    }
}

