



.Empty,.Stuck, .Working.on.it, .Done{
  width: 100%;
  margin: auto;
  cursor: pointer;
  height: 33px;
  border: none;
}
.Done {
  background-color: $green;
}
.Working.on.it {
  background-color: $yellow;
}
.Stuck {
  background-color: $red;
}


.status-member-section{
  height: 34px;
  flex-basis: 139px;
  min-width: 139px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border: 1px solid white;
}
