.task-details {
  width: 569px;
  transform: translateX(0%);
  border-right: 1px solid #e8eaf0;
  background-color: #ffffff;
  height: 158%;
  top: 0;
  position: fixed;
  z-index: 5;
  right: 0px;
  box-shadow: -1px 6px 9px 0 rgb(53 49 49 / 15%);
  margin-left: 20px;
  z-index: 200;
  transition: transform 0.3s;
  cursor: auto;
  // animation: fade-in-right 0.3s ease-in-out both;
  &.task-details-closed {
    transform: translateX(110%);
    // position: unset;
  }

  .close-details {
    // height: 25px;
    // width: 25px;
    padding: 0px;
    margin: 0 0 0 -6px;
    border-radius: 4px;
    display: flex;
    margin-top: 22px;
    margin-left: 17px;
    width: fit-content;
    font-size: rem(14px);
    cursor: pointer;
    &:hover {
      background-color: #e6e9ef;
    }
  }
  .btns-container {
    margin-left: 20px;
    height: 32px;
    .details-features {
      font-family: 'roboto-regular';
      color: #48494e;
      border-radius: 4px;
      font-weight: 400;
      &:hover {
        background-color: #e6e9ef;
      }
    }
    span {
      color: #eff1f5;
      line-height: 2;
    }
  }

  font-family: 'roboto-regular';
  color: #48494e;
  .task-header-title {
    font-size: 1.5rem;
    margin-left: 20px;
    padding: 0px;
    color: #323338;
    font-weight: 600;
    font-family: roboto-regular;
    font-size: rem(18px);
    text-align: start;
    &:hover {
      border: 0.5px solid #c5c7d0;
      border-radius: 4px;
    }
    &:focus-visible {
      outline: none;
    }
  }

  .update-area input {
    // font-size: 1.5rem;
    margin: 0;
    padding: 0px;
    color: #323338;
    padding-left: 8px;
    // font-weight: 600;
    font-family: roboto-light;
    font-size: rem(16px);
    text-align: start;
    height: 41px;
    border: 1px solid $blue;
    // border-color: #0085ff;
    width: 522px;
    border-radius: 4px;
    margin-left: 20px;
    &:hover {
      border: 0.5px solid #c5c7d0;
      border-radius: 4px;
      background-color: #e6e9ef;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #e6e9ef;
    }
    // input {
    //   border: none;
    //   background-color: rgba(255, 255, 255, 0);
    // }
    // &:hover {
    //   border: 0.5px solid #c5c7d0;
    //   border-radius: 4px;
    //   background-color: #e6e9ef;
    // }
    // &:focus {
    //   outline: none;
    // }
  }

  .no-updates-img {
    padding-inline-start: 20px;
  }
  .post {
    height: 233px;
    border: 0.5px solid #dbdde6;
    border-radius: 4px;
    // margin: 20px;
    margin-right: 22px;
    justify-content: space-between;
    flex-flow: column;
    .post-header {
      justify-content: space-between;
      margin-top: 14px;
      .time-ago {
        margin-top: 10px;
        margin-right: 20px;
      }
      .header-container {
        align-items: center;
        justify-content: space-around;
        width: 160px;

        .avatar {
          width: 40px;
          height: 40px;
          background-color: #66cdff;
          border-radius: 50%;
          color: white;
          font-family: 'roboto-bold';
          font-size: 19px;
          line-height: 2;
          margin-left: 11px;
          padding-left: 11px;
          padding-top: 2px;
        }
        .user-name {
          color: #323338;
          font-size: 14px;
          font-weight: 600;
          font-family: 'roboto-regular';
        }
        .active-circle {
          background-color: #00ca72;
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }
      }
    }
    .post-title {
      margin-top: -75px;
      margin-left: 20px;
      font-family: 'Roboto-light';
      color: #4c4c51;
      font-size: 14.5px;
    }
    .post-actions {
      cursor: pointer;
      text-align: center;
      & > *:nth-of-type(1) {
        border-right: 0.5px solid #dbdde6;
      }
      div {
        width: 50%;
        border-top: 0.5px solid #dbdde6;
        height: 40px;
        line-height: 2.5;
        // border-bottom: none;
        margin-bottom: 0px;
        // flex-flow: column-reverse;
        transition: 0.3s;
        &:hover {
          background-color: #e6e9ef;
        }
      }
    }
  }
}

.task-details .update-area input:focus-visible {
  outline: none;
}
