.edit-board-btn {
  color: rgba(255, 255, 255, 0);
  width: 50px;
  &:hover {
    color: #323338;
  }
}
.board-modal {
  .modal-board-items {
    font-size: 14px;
    // line-height: 60px;
    padding: 5px 20px;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
    border-radius: 4px;
    cursor: pointer;
    width: 155px;
    padding: 15px;
    position: absolute;
    margin-inline: -23%;
    margin-block: 9.8%;
    z-index: 30;
  }
}
.delete-board-container {
  width: 100%;
  height: 24px;
  padding-top: 4px;
  justify-content: center;
  border-radius: 4px;
  &:hover {
    background-color: #e4e8ee;
  }
}
