.group-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

.add-task-div {
  border: 1px solid #00000040;
  height: 36px;
  background-color: lighter($cell-color);
  text-align: start;
}
