.group-preview {
  // margin-bottom: 50px;
  position: relative;
  // cursor: auto;
  margin-top: 35px;
  cursor: auto;

  div.group-title-container {
    min-width: 422px;
    margin-inline-start: 16px;
    display: flex;
    position: sticky;
    left: 0px;
    background-color: #ffffffe3;
    z-index: 4;
    height: 39px;
    padding: 0px;
    align-items: center;
    gap: 4px;
    padding-left: 9px;
    margin-bottom: 3px;
  }
}

.labels-modal {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  position: absolute;
  z-index: 10;
  width: 149px;
  background: white;
  padding: 16px 15px;
  box-shadow: 0 0 12px 1px #00000075;
}

.group-title {
  text-align: start;
  white-space: nowrap;
  display: inline;
  font-size: 1.125rem;
  font-family: roboto, helvetica, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* padding: 0 6px; */
  line-height: 1.5;
  top: -3px;
  left: 12px;
  position: sticky;
  margin: 0;
  padding: 0;

  &:hover {
    border: 1px dotted black;
  }

  &:focus-visible {
    outline: none;
  }
}

.add-task-div {
  height: 36px;
  background-color: lighter(#f5f6f8);
  text-align: start;
  cursor: pointer;
  width: 88.86%;
  cursor: pointer;
  border: 1px solid #e6e9ef;
  transition: all 0.3s;
  .add-task-left {
    width: 382px;
    height: 34px;
    position: sticky;
    left: 0;
  }
  .add-task-right {
    width: 1424px;
  }
  div.group-color {
    height: 100%;
    width: 3px;
    opacity: 0.5;
    transition: all 0.3s;
  }

  &:hover {
    border: 1px solid #323338;

    div.group-color {
      opacity: 1;
    }
  }

  .btn-placeholder {
    height: 100%;
    width: 40px;
  }

  form {
    width: 100%;
    height: 100%;
  }
}

.input-container {
  // left: $first-column-left;
  // max-width: fit-content;
  margin-left: 20px;
  margin-top: 0px;
  // width: 100%;
  flex-grow: 1;
  /* line-height: 1; */
  border: none;
  input {
    position: sticky;
    left: 15px;
    border: none;
  }
  input:focus-visible {
    outline: none;
    border: none;
  }
}

.add-task-container {
  display: flex;
  height: 36px;
  width: 1806px;
  width: 1604px;
  margin-inline-start: 47.5px;

  .add-task-form {
    margin-left: 32px;
  }
}

.task-title {
  border: none;
  cursor: pointer;
  font-family: roboto-regular, helvetica, sans-serif;
  // position: sticky;
  width: 95%;
  padding-inline-start: 15px;

  &:focus-visible {
    outline: none;
  }
}

span {
  font-family: roboto-regular, helvetica, sans-serif;
}

.div-headline-container {
  display: flex;
  align-items: center;
  font-size: rem(14px);
  height: 39px;
  width: 1649px;

  & > :not(:first-child):not(:nth-of-type(2)) {
    margin-inline-start: 2px;
  }
}

.add-task-btn {
  font-family: roboto-regular, helvetica, sans-serif;
  height: 100%;
  font-size: 0.875rem;
  padding: 4px 8px;
  font-weight: 400;
  line-height: 27px;
  border: none;
  background-color: #0073ea;
  color: #fff;
  width: 50px;
  opacity: 0;
  // margin-left: 90%;
}

.add-task-btn-visible {
  font-family: roboto-regular, helvetica, sans-serif;
  height: 100%;
  font-size: 0.875rem;
  padding: 4px 8px;
  font-weight: 400;
  line-height: 27px;
  border: none;
  background-color: #0073ea;
  color: #fff;
  width: 50px;
  transition: opacity 0.4s;
  opacity: 1;
  // margin-left: 90%;
}

div.group-color {
  height: 100%;
  min-width: 7px;
  position: sticky;
  left: 0;
  // left: $grop-color-left;
}

.add-task-form {
  display: flex;
}

.group-modal {
  font-size: 14px;
  line-height: 24px;
  padding: 5px 20px;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
  border-radius: 4px;
  cursor: pointer;
  width: 155px;
  /* height: 65px; */
  padding: 15px;
  position: absolute;
  z-index: 10;
  margin-inline: 0.6em;
  margin-block: 1.9em;
}

.modal-group-items {
  gap: 10px;

  div,
  span {
    cursor: pointer;
  }
}

.title-modal-delete {
  // flex-direction: column;
  margin-top: 10px;

  div {
    margin: 10px auto;
  }
}

.no-ans-delete,
.yes-ans-delete {
  // font-family: roboto-light, helvetica, sans-serif;
  // height: 32px;
  // font-size: 0.875rem;
  // padding: 4px 8px;
  // font-weight: 400;
  // line-height: 22px;
  // border: none;
  // border-radius: 4px;
  // color: #fff;
  // width: 90px;
  // margin-top: 4px;
  font-family: 'roboto-light';
  height: 30px;
  font-size: 0.875rem;
  padding: 4px 8px;
  padding-top: 5px;
  font-weight: 400;
  line-height: 22px;
  border: 1px white solid;
  border-radius: 4px;
  color: #fff;
  width: 50px;
  margin-top: 4px;
  font-weight: 600;
  background-color: #d1040400;
}

.yes-ans-delete {
  transition: 0.5s;
  // background-color: #0073ea;
  &:hover {
    background-color: #00c8754f;
  }
}

.no-ans-delete {
  transition: 0.5s;
  // background-color: ($red);
  margin-inline-end: 5px;
  &:hover {
    background-color: #e2445c4a;
  }
}

.modal-delete {
  // padding: 7%;
  // padding: 15px;
  // padding-bottom: 20px;
  // width: 328px;
  // box-shadow: -1px 1px 8px 0px rgb(16 15 15 / 26%);
  // text-align: center;
  // position: fixed;
  // top: 25vh;
  // left: 40vw;
  // background-color: $white;
  // z-index: 400;
  width: 395px;
  gap: 20px;
  height: 115px;
  box-shadow: 2px 6px 9px 0px rgb(16 15 15 / 19%);
  text-align: center;
  position: fixed;
  top: 25vh;
  left: 40vw;
  background-color: #fff;
  z-index: 400;
  background-color: #292f4c;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  gap: 12px;
  justify-content: space-around;
  padding: 38px 30px 20px 30px;
  .yes-no {
    gap: 5px;
  }
}

.Owners {
  width: 149px;
  span {
    margin-inline-start: 32px;
  }
}

.Timeline {
  width: 199px;
  background-color: #f5f6f8;
  border-radius: 6px 6px 0 0;
  span {
    margin-inline-start: 46px;
  }
}

.Priority {
  width: 140px;
  span {
    margin-inline-start: 27px;
  }
}

.Status {
  width: 138px;
  // padding-left: 0px;
  background-color: #f5f6f8;
  border-radius: 6px 6px 0 0;
  span {
    margin-inline-start: 29px;
  }
}

.Role {
  width: 138px;
  span {
    margin-inline-start: 38px;
  }
}

.Type {
  width: 138px;
  span {
    margin-inline-start: 34px;
  }
}
.Cost {
  min-width: 100px;
  span {
    margin-inline-start: 28px;
  }
}
.Text {
  width: 151px;
  margin-inline-start: 2px;
  span {
    margin-inline-start: 38px;
  }
}

// .drag-icon-cmp {
//   display: none;
//   position: absolute;
// }

.Owners,
.Timeline,
.Priority,
.Status,
.Role,
.Text,
.Cost,
.Type {
  height: 100%;
  flex-grow: 1;
  // text-align: center;
  line-height: 3;
  // margin-inline-end: 1px;
  // margin-inline-start: -1px;
  &:hover {
    background-color: #f5f6f8;
    cursor: pointer;

    .dog-ear:after {
      border-top: 13px solid #e6e9ef;
      border-left: 13px solid rgb(0, 0, 0, 0.08);
    }

    .dog-ear:before {
      border-bottom: 13px solid rgb(0, 0, 0, 0.08);
      border-right: 13px solid $white;
    }
  }
}

.cmp-title-container {
  display: flex;
  .drag-icon-cmp {
    opacity: 0;
  }
  &:hover {
    .drag-icon-cmp {
      opacity: 1;
    }
  }
}

.status-member-section {
  > * {
    &::after,
    &::before {
      content: '';
      display: block;
      right: 0;
      top: 0;
      position: absolute;
      transition: border-width 0.6s;
    }

    &:hover {
      &::after {
        border-top: 13px solid #e6e9ef;
        border-left: 13px solid rgb(0, 0, 0, 0.08);
      }

      &::before {
        border-bottom: 13px solid rgb(0, 0, 0, 0.08);
        border-right: 13px solid $white;
      }
    }
  }
}

// .icon-group {
//   transform: translateY(4.5px);
// }

.icon-group-drag {
  display: none;
  // position: absolute;
  // left: 175px;
}

.group-title-container {
  .drop-down-svg {
    position: sticky;
    left: -7px;
  }
  &:hover {
    .icon-group-drag {
      display: inline;
      // position: absolute;
      // left: 175px;
    }

    .group-title {
      left: 20px;
    }
  }
}
