.group-preview {
  margin-bottom: 50px;

  div.group-title-container {
    // background-color: #f5f6f8ed;
    min-width: 446px;
  }
}

.labels-modal {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  position: absolute;
  z-index: 10;
  width: 138px;
  background: white;
  padding: 16px 15px;
  box-shadow: 0 0 12px 1px #00000075;
}

.group-title {
  text-align: start;
  white-space: nowrap;
  display: inline;
  font-size: rem(18px);
  // position: sticky;
  font-family: roboto, helvetica, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 6px;
  line-height: 1.5;

  &:hover {
    border: 1px dotted black;
  }
  &:focus-visible {
    outline: none;
  }
}

.add-task-div {
  border: 1px solid #00000040;
  height: 36px;
  background-color: lighter($cell-color);
  text-align: start;

  // left:$first-column-left ;
  cursor: pointer;
  width: 89.4%;
  cursor: pointer;

  div.group-color {
    height: 100%;
    width: 3px;
  }
  .btn-placeholder {
    height: 100%;
    width: 40px;
  }
  form {
    width: 100%;
    height: 100%;
  }
}

input.add-task {
  // left: $first-column-left;
  // max-width: fit-content;
  padding-left: 20px;
  width: 100%;
  &:focus-visible {
    outline: none;
  }
  border: none;
}

.add-task-container {
  display: flex;
  height: 36px;
  width: 1460px;
  margin-inline-start: 46px;

  .add-task-form {
    margin-left: 32px;
  }
}

.task-title {
  border: none;
  cursor: pointer;
  font-family: roboto-regular, helvetica, sans-serif;
  // position: sticky;
  width: 95%;
  padding-inline-start: 15px;

  &:focus-visible {
    outline: none;
  }
}

span {
  font-family: roboto-regular, helvetica, sans-serif;
}
.div-headline-container {
  display: flex;
  align-items: center;
  font-size: rem(14px);
  height: 39px;
  & > :not(:first-child):not(:nth-of-type(2)) {
    margin-inline-start: 2px;
  }
}

.add-task-btn {
  font-family: roboto-regular, helvetica, sans-serif;
  height: 100%;
  font-size: 0.875rem;
  padding: 4px 8px;
  font-weight: 400;
  line-height: 27px;
  border: none;
  background-color: #0073ea;
  color: #fff;
  width: 50px;
  opacity: 0;
  // margin-left: 90%;
}

.add-task-btn-visible {
  font-family: roboto-regular, helvetica, sans-serif;
  height: 100%;
  font-size: 0.875rem;
  padding: 4px 8px;
  font-weight: 400;
  line-height: 27px;
  border: none;
  background-color: #0073ea;
  color: #fff;
  width: 50px;
  transition: opacity 0.4s;
  opacity: 1;
  // margin-left: 90%;
}

div.group-color {
  height: 100%;
  min-width: 7px;
  // left: $grop-color-left;
}
.add-task-form {
  display: flex;
}

.group-modal {
  font-size: 14px;
  line-height: 24px;
  padding: 5px 20px;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
  border-radius: 4px;
  cursor: pointer;
  width: 155px;
  /* height: 65px; */
  padding: 15px;
  position: absolute;
  z-index: 10;
  margin-inline: 0.6em;
  margin-block: 1.9em;
}

.modal-group-items {
  gap: 10px;
  div,
  span {
    cursor: pointer;
  }
}

.title-modal-delete {
  flex-direction: column;
  div {
    margin: 10px auto;
  }
}

.no-ans-delete,
.yes-ans-delete {
  font-family: roboto-light, helvetica, sans-serif;
  height: 32px;
  font-size: 0.875rem;
  padding: 4px 8px;
  font-weight: 400;
  line-height: 22px;
  border: none;
  border-radius: 4px;
  color: #fff;
  width: 90px;
  margin-top: 4px;
}

.yes-ans-delete {
  background-color: #0073ea;
}
.no-ans-delete {
  background-color: ($red);
  margin-inline-end: 5px;
}

.modal-delete {
  // padding: 7%;
  padding: 15px;
  padding-bottom: 20px;
  width: 328px;
  box-shadow: -1px 1px 8px 0px rgb(16 15 15 / 26%);
  text-align: center;
  position: fixed;
  top: 8vh;
  left: 40vw;
  background-color: $white;
  z-index: 100;
}
.Owners {
  min-width: 148px;
}

.Timeline {
  min-width: 198px;
}
.Priority {
  min-width: 137px;
}

.Status {
  min-width: 137px;
}
.Role {
  min-width: 137px;
}
.Type {
  min-width: 137px;
}

.Owners,
.Timeline,
.Priority,
.Status,
.Role,
.Type {
  height: 100%;
  text-align: center;
  line-height: 3;
  // margin-inline-end: 1px;
  // margin-inline-start: -1px;
  &:hover {
    background-color: #f5f6f8;
    cursor: pointer;
  }
}

// .icon-group {
//   transform: translateY(4.5px);
// }
