.posts-container {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;

  .post {
    margin-bottom: 20px;
  }
  .post-container {
    justify-content: space-between;
    height: 56px;
    border-bottom: 0.5px solid #e5e6ea;
    padding: 18px 0 0 0;
    // margin-left: 0;

    // padding: 8px 0px;
    // padding-top: 18px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    .task-name {
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      margin-left: 12px;
      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .member-name {
      min-width: 100px;
      max-width: 100px;
      font-size: 14px;
    }
    .time-ago {
      max-width: 60px;
      min-width: 60px;
      font-size: 14px;
      span {
        margin-left: 3px;
      }
    }
    .avatar {
      border-radius: 50%;
      height: 27px;
      min-width: 27px;
      max-width: 27px;
      color: white;
      font-size: 15px;
      font-family: "roboto-regular";
      text-align: center;
      padding-top: 5px;
      margin-top: -3px;
      padding-left: 1px;
    }
  }
}
@media (min-width: 640px) {
  .posts-container {
    margin-left: 20px;
    margin-top: 20px;

    .post-container {
      margin: 0;
      padding: 18px 0 0 0;
      .task-name {
        max-width: 350px;
        min-width: 350px;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
