.user-msg {
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 20px;
    font-size: 1.125rem;
    font-family: 'roboto-regular';
    position: fixed;
    bottom: 3%;
    right: 3%;
    width: 350px;
    height: 65px;
    background-color: rgb(238, 119, 119);
    border-radius: 6px;
    z-index: 500;
    line-height: 1.3;


    button {
        border: 0;
        background-color: transparent;
        align-self: flex-start;
        color: whitesmoke;
        padding-top: 5px;
        font-size: 1.25rem;
        border-radius: 2px;
        margin: 0px 0px 3px 0px;

        &:hover{
            cursor: pointer;
        }
    }

    &.success {
        background-color: green;
    }
    
    &.danger {
        background-color: rgb(238, 119, 119);
    }
}
  


