.group-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #00000040;
    height: 30px;
    background-color: #e6e9ef;
    text-align: start;

}

.labels-modal {
  position: fixed;
}
