// .group-preview {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   border: 1px solid #00000040;
//   height: 30px;
//   background-color: #e6e9ef;
//   text-align: start;
// margin-top: $board-header-top;
// }

.labels-modal {
  position: fixed;
}

.group-title {
  text-align: start;
  margin: 5px;
  /* margin: 0; */
  padding: 0;
  display: inline;
  padding: 5px 10px;
  font-size: 100%;

  &:hover {
    border: 1px dotted black;
  }
}
