.group-preview {
  margin-bottom: 50px;

  input.task-title{
    left: $first-column-left;
    max-width: fit-content;
  }

  div.group-title-container{
    background-color: #f5f6f8ed;
    width: 398px;
  }

}

.labels-modal {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  position: absolute;
  z-index: 10;
  width: 138px;
  background: white;
  padding: 16px 15px;
  box-shadow: 0 0 12px 1px #00000075;
}

.group-title {
  text-align: start;
  margin: 5px;
  /* margin: 0; */
  padding: 0;
  white-space: nowrap;
  display: inline;
  padding: 5px 10px;
  font-size: 100%;
  position: sticky;
  left: 266px;
  font-family: roboto-light,helvetica,sans-serif;


  &:hover {
    border: 1px dotted black;
  }
}


.add-task-div{
  border: 1px solid #00000040;
  height: 36px;
  background-color: lighter($cell-color);
  text-align: start;
  left:$first-column-left ;
}


.add-task-container{
  display: flex;
  height: 36px;
  width: 100%;

.group-color{
  margin-left: 24px;
}
.add-task-form{
  margin-left: 32px;
}

}

.add-task-div{
  width: inherit;
  cursor: pointer;
}

.task-title{
  border: none;
  cursor: pointer;
  font-family: roboto-light, helvetica, sans-serif;
  position: sticky;
  width: 95%;
  padding-inline-start: 15px;
}

span{
  font-family: roboto-light,helvetica,sans-serif;

}
.div-headline-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-task-btn{
  font-family: roboto-light, helvetica, sans-serif;
  height: 100%;
  font-size: 0.875rem;
  padding: 4px 8px;
  font-weight: 400;
  line-height: 27px;
  border: none;
  background-color: #0073ea;
  color: #fff;
  width: 50px;
}

div.group-color {
  height: 100%;
  min-width: 7px;
  left: $grop-color-left;
}
.add-task-form{
  display: flex;
}
