.group-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: ($ml);
}

.add-task-div{
    border: 1px solid #00000040;
    height: 36px;
    background-color: lighter($cell-color);
    text-align: start;
}
.group-color{
    height: 36px;
    width: 7px;
  }