.board-controllers {
  .add-group-btn {
    // font-family: 'roboto-regular';
    font-family: roboto-regular, helvetica, sans-serif;
    height: 32px;
    font-size: 0.875rem;
    padding: 4px 8px;
    font-weight: 400;
    line-height: 22px;
    border: none;
    border-radius: 4px;
    background-color: $blue;
    color: $white;
    width: 90px;
    margin-top: 4px;
  }

  .controller-opt {
    font-family: roboto-regular, helvetica, sans-serif;
    height: 32px;
    font-size: 0.875rem;
    padding: 4px 8px;
    font-weight: 400;
    line-height: 22px;
    border: none;
    border-radius: 4px;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 2px;
    transition: 0.1s;
    &:hover {
      background-color: $grey;
    }
  }
}
