$red: #ff3d57;
$yellow: #ffcb00;
$green: #00d647;
$blue: #0073ea;
$white: #fff;
$navy: #292f4c;
$grey: #e6e9ef;
$nav-bar-width: 200px;
$nav-bar-width: 200px;
$ml: 290px;
$board-header-top: 70px;
$cell-color : #F5F6F8;
