.board-nav {
  min-width: 254px;
  max-width: 254px;
  transform: translateX(-90%);
  border-right: 1px solid #e8eaf0;
  background-color: #f5f6f8;
  top: 0;
  z-index: 5;
  left: 66px;
  button.open-nav-btn {
    background-color: #fff;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #e2e7ec;
    margin-left: 94%;
    margin-top: 20px;
    transition: width 0.1s;
    svg {
      margin-top: 3px;
      color: #67686b;
      margin-left: -2px;
    }
    &:hover {
      width: 33.44px;
      border-radius: 20px;
      background-color: #0085ff;
      z-index: 100;
      svg {
        margin-left: -3px;
        color: white;
      }
    }
  }

  &.board-nav-closed {
    & > *:not(.open-nav-btn) {
      opacity: 0;
    }
  }

  &.board-nav-closed {
    button.open-nav-btn {
      background-color: #fff;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      border: 1px solid #e2e7ec;
      margin-left: 94%;
      margin-top: 20px;
      transition: width 0.1s;
      svg {
        margin-top: 3px;
        margin-left: 0px;
        color: #67686b;
        transform: rotateZ(180deg);
      }
      &:hover {
        width: 33.44px;
        border-radius: 20px;
        background-color: #0085ff;
        z-index: 100;
        svg {
          margin-left: 5px;
          color: white;
        }
      }
    }
  }

  &.board-nav-open {
    transform: translateX(0);
    transition: transform 0.2s;
    & > * {
      margin-left: em(15px);
    }
    p.workspace {
      margin-top: -1.875em;
      padding: 0px;
      font-size: 0.875rem;
      color: #676879;
      font-family: roboto-regular;
      margin-bottom: 18px;
    }
    .main-workspace {
      font-family: roboto-bold;
      width: 13.125rem;
      font-size: 1rem;
      border: 1px solid #8a8b99;
      padding: 8px 5px;
      border-radius: 4px;
      text-align: center;
      margin-top: -10px;
      margin-bottom: 18px;
      padding-top: 11px;
      margin-bottom: 12px;
      display: flex;
      div.m {
        width: 24px;
        height: 24px;
        background-color: #f279f2;
        color: #edecf0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        border-radius: 6px;
        margin-top: -3px;
        margin-right: 10px;
        font-size: 17px;
        font-family: 'roboto-regular';
      }
      div.home {
        background-color: #edeef0;
        width: 15px;
        border-radius: 6px;
        margin-right: -15px;
        margin-top: 20px;
      }
      svg {
        color: black;
        font-size: 14px;
      }
    }
    .side-bar-features-container {
      border-bottom: 1px solid #e6e9ef;

      .side-bar-features {
        width: 100%;
        height: em(40px);
        color: #323338;
        font-size: rem(14px);
        font-family: roboto-regular;
        border-radius: 4px;
        width: rem(224px);
        text-align: start;
        padding-bottom: em(10px);

        &:hover {
          background-color: #e6e9ef;
        }
      }
    }
    .sidebar-nav-list {
      margin-top: rem(15px);
      // .board-title {
      //   align-items: center;
      // }
      .board-title,
      a.board-title {
        width: 100%;
        height: em(40px);
        color: #323338;
        font-size: rem(14px);
        font-family: roboto-regular;
        border-radius: 4px;
        width: rem(224px);
        text-align: start;
        padding: em(8px);
      }
      a {
        padding-top: 2px;
        color: inherit;
      }
    }
  }
}

.board-title {
  align-items: center;
  justify-content: space-between;
  &:active {
    background-color: #cce5ff;
  }

  &:hover {
    background-color: #e6e9ef;
    .delete-board-btn {
      color: #323338;
      width: 10px;
      // &:hover {
      //   color: #323338;
      // }
    }
  }
  &.active {
    background-color: #cce5ff;
  }
}

// .board-nav button.open-nav-btn {
//   margin-left: 94%;
// }


@media (min-width: 992px) {

  .board-nav {
    transform: translateX(-85%);
  }



}