.main-nav {
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  // position: fixed;
  width: 66px;
  background-color: $navy;
  z-index: 10;
  justify-content: space-between;
  .top-opt,
  .bottom-opt {
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
  }

  .grid-container {
    background-color: #6a6e82;
    width: 36px;
    height: 36px;
    margin-left: 14px;
    border-radius: 8px;
    // position: absolute;
  }

  img {
    width: 40px;
    margin-left: 13px;
    margin-top: 4px;
  }

  div.see-plans {
    background-color: #258750;
    min-height: 100px;
    width: 34px;
    border-radius: 0 16px 16px 0;
    cursor: pointer;
    transition: background-color 200ms ease, width 200ms ease;
    -webkit-user-select: none;
    user-select: none;
    height: 130px;
    h2 {
      font-family: roboto, Helvetica, Arial, sans-serif;
      color: $white;
      transform: rotate(270deg);
      font-size: 0.875rem;
      text-align: center;
      white-space: nowrap;
    }
  }
  .user-avatar {
    color: $white;
    text-align: center;
    width: 44px;
    height: 44px;
    border: $white 2px solid;
    border-radius: 50%;
    background-color: #faa1f1;
    line-height: 40px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px 23px 12px;
    cursor: pointer;
  }
}

.user-modal{
  font-size: 14px;
  padding: 5px 20px;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
  border-radius: 4px;
  cursor: pointer;
  width: 155px;
  padding: 15px;
  position: fixed;
  left: 27%;
  bottom: -8%;
  margin-inline: -23%;
  margin-block: 9.8%;
  z-index: 30;

a{
  p{
    color: black;
    height: 28px;
    border-radius: 4px;
    margin: 0;

    &:hover{
      background-color: #f5f6f8;
    }
  }
}
p{
  color: black;
  height: 28px;
  border-radius: 4px;
  margin: 0;
  &:hover{
    background-color: #f5f6f8;
  }
}
}
